<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Linking the skeleton CSS styleshet -->
    <link rel="stylesheet" type="text/css" href="/skeleton.css">
   
    <title>Training Hub</title>
  </head>
  <body>
    <header>
      <%- include("../partials/header.ejs") %>
    </header>
    <br>
    <div class="container">
      <h1>Certifications</h1>
    </div>
    <br>
    <div class="container">
      <table class="u-full-width">
        <thead>
          <tr><th><a href="/addcert">Add Certification</a></th></tr>
        </thead>
        <tbody>
           <% certs.forEach((certs)=>{ %>
              <tr>
              <td><%= certs.name %> </td>
              </tr>
            <% }); %>
          
        </tbody>
      </table>      
    </div>    
  </body>
</html>